@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: burlywood;
}

.conteiner {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button button {
    border: none;
    background-color: aliceblue;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: rgb(212, 212, 212);
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: rgb(39, 41, 40);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box { 
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 510px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: antiquewhite;
}
.input-box input-focus-visible{
    outline: 1px solid aqua;
}

.input-box label,
.gender-title h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input-placeholder {
    color: #000000be;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input{
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: aquamarine;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
    background-color: aqua;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image{
        display: none;
    }

    .conteiner{
        width: 50%;
    }
    .form{
        width: 100%;
    }
}

@media screen and (max-width:1064px){
    .conteiner{
        width: 90%;
        height: auto;
    }

    .input-group{
        flex-direction: column;
        overflow: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .gender-inputs{
        margin-top: 2ren;

    }
    .gender-group{
        margin-top: 2ren;
    }

    .gender-group{
        flex-direction: column;
    }
    .gender-input{
        margin-top: 0.5rem;
    }
}